.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 300px;
}

.instructions {
  display: flex;
  color: red;
}

.quiz-card {
  display: flex;
  flex-grow: 2;
  background: grey;
}

.tweet-card {
  display: flex;
  background: aqua;
}

.score {
  flex-grow: 1;
  background: orange;
}
